/* header.css */
.header {
    background-color: aqua;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999; /*tras para frente no eixo z, trazendo para camada da frente */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px  28px;
}
.logoo img{
    height: 40px;
}

.nav-center ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;   
}

.nav-center a, .nav-right a{
    font-size: 1.25rem;
}

.nav-center a:hover, .nav-right a:hover{
    color: #7c3aed;
}
 
.nav-right ul{
    display: flex;
    gap: 2.5rem;    
}


/* Header structure
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/* Central and secondary navigation */
/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav-center a,
.nav-secondary a {
    text-decoration: none;
    color: var(--text-color, #333);
    font-weight: 500;
}

.nav-secondary li a img {
    display: block;
    width: 1.5rem;
    height: auto;
}

/* small adjustments for mobile */
/* @media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        flex-wrap: wrap;
    }
} */
 