/* product-grid.css */
.spotlight {
    grid-area: spotlight;
    background-image: url(../../images/products/banner.grid.jpg);
    /* width: 665px;
    height: 500px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sneaker-purple {
    grid-area: sneaker-purple;
     background-image: url(../../images/products/tênis\ roxo\ e\ verde.grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
}

.model {
    grid-area: model;
     background-image: url(../../images/);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url(../../images/products/banner.grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sneaker-white {
    grid-area: sneaker-white;
     background-image: url(../../images/products/banner.grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sneaker-silver {
    grid-area: sneaker-silver;
      background-image: url(../../images/products/banner.grid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "spotlight spotlight sneaker-purple sneaker-purple"
        "spotlight spotlight model sneaker-color"
        " sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;
}